<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <a href="/signin">Login here</a>
    <a href="/signup">Signup as user</a>
    <h1>Comics that I read</h1>
    <ul>
      <% comics.forEach(hero => { %>
      <li><%= hero.ID %></li>
      <% }) %>
    </ul>
    <form
      action=""
      method="post"
    >
      <input
        type="text"
        name="heroName"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
